body {
  overflow: hidden !important;
}

img {
  width: 100%;
}
a:hover {
  color: #2ecc71 !important;
  text-decoration: none !important;
}

.no-padding {
  padding: 0 !important;
}
.vertical-align-top {
  vertical-align: top !important;
}
.inherit-font-size {
  font-size: inherit !important;
}

.landing {
  position: relative;
  background: url("./img/mountains.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: calc(100vh - 56px);
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.special-nav-link img {
  width: 25px;
  margin-right: 5px;
}

.welcome-box,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-box .welcome-container {
  background-color: white;
  padding: 80px 40px;
  min-width: 700px;
  padding: 80px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid #2ecc71;
}

.navbar {
  -webkit-box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 1;
}
.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: #27ae60 !important;
  margin: 0 !important;
  vertical-align: middle;
  text-transform: uppercase;
}

.gaunee-logo .container {
  max-width: 250px;
  text-align: center;
}

.login-logo {
  background-color: #ecf0f1 !important;
  border: 2px solid #e9edee !important;
  margin-top: 10px;
}

.signup-button {
  background-color: #2ecc71 !important;
  border: 2px solid #2ecc71 !important;
  color: white !important;
  margin-top: 10px;
  /* #2ecc71 */
}

hr {
  max-width: 70%;
}

.dashboard-wrapper {
  height: 100%;
  display: flex;
}

.content-container {
  width: calc(100vw - 300px);
}
.create-profile {
  overflow-y: scroll;
  padding: 20px;
  height: calc(100vh - 56px);
}

.flex {
  display: flex;
}

.sidebar-search-form {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px 5px;
  border: none;
  display: none;
}

.search-properties {
  display: block;
}

.dashboard-content {
  width: calc(100vw - 300px);
  height: calc(100vh - 111px);
  background: #f3f5f9;
  padding: 20px;
}

.heading-row {
  height: 55px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 0 10px;
}
.heading-row h1,
.heading-row h1 a {
  font-family: "Roboto";
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #999;
}
.heading-row h1 a:hover {
  text-decoration: none;
  color: #2ecc71;
}
.heading-row h1 strong {
  color: #666;
  font-weight: 500 !important;
}

.bottom-row-container {
  height: 100%;
  display: flex;
}

.dashboard-content .expenses {
  display: inline-block;
  background: white;
  margin-right: 10px;
  height: calc(50% - 10px);
  margin-top: 10px;
  width: calc(50% - 10px);
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.dashboard-content .expenses p,
.dashboard-content .addons p,
.dashboard-placeholder .change-later p {
  text-align: left;
  font-size: 17px;

  line-height: 1;
  margin: 0;
  padding: 12.5px 20px;
  border-bottom: 1px solid #dedede;
}
.dashboard-content .expenses p a,
.dashboard-content .addons p a,
.dashboard-placeholder .change-later p a {
  color: #777;
}
.dashboard-content .expenses .expenses-chart {
  height: calc(100% - 42px);
  padding: 20px;
}
.expenses-chart tspan {
  font-size: 14px;
}
.dashboard-placeholder:first-of-type {
  height: calc(50% - 10px);
  width: calc(33.33% - 10px);
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background: white;
}
.dashboard-placeholder:nth-of-type(2) {
  height: calc(50% - 10px);
  width: calc(33.33% - 20px);
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 10px;
  background: white;
}
.dashboard-placeholder:nth-of-type(3) {
  height: calc(50% - 10px);
  width: calc(33% - 10px);
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  background: white;
}
.dashboard-placeholder {
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.quick-facts-container {
  display: inline-block;
  margin-left: 10px;
  height: calc(50% - 10px);
  margin-top: 10px;
  width: calc(20% - 10px);
}
.quick-facts {
  display: flex;
  width: 100%;
  height: calc(25% - 15px);
  margin: 12px 0;
}

.quick-facts .icon-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-facts .icon-container i {
  font-size: 35px;
  color: white;
}

.quick-facts .text-container {
  display: flex;
  width: 75%;
  padding-left: 10px;
  align-content: center;
  vertical-align: center;
  flex-direction: column;
}
.quick-facts .text-container > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.quick-facts .text-container h3,
.quick-facts .text-container p {
  margin-bottom: 0;
  color: white;
  line-height: 1.1;
}

.quick-facts .text-container h3 {
  font-size: 30px;
}
.quick-facts .text-container p {
  font-size: 15px;
}

.addons {
  width: calc(30% - 20px);
  background: white;
  margin: 10px 10px 0;
  height: calc(50% - 10px);
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.repeater-form-button {
  margin-right: 5px;
}

.repeater-inputs .col-sm-3 {
  padding: 0 2.5px !important;
}

#units {
  background: #9b59b6;
}
#units .icon-container {
  background: #8e44ad;
}

#tenants {
  background: #2ecc71;
}
#tenants .icon-container {
  background: #27ae60;
}

#messages {
  background: #f1c40f;
}

#repairs {
  background: #3498db;
}

#messages .icon-container {
  background: #f39c12;
}

#repairs .icon-container {
  background: #2980b9;
}

.addons-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  height: calc(100% - 42px);
  align-items: center;
}

.addons-content h4,
.addons-content {
  text-align: center;
}
.addons-content h4 {
  margin-bottom: 10px;
}
.addons-content span:not(.navbar-brand) {
  margin-bottom: 20px;
  display: block;
}

.browse-addons-button {
  background: #2ecc71;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 17px;
}
.browse-addons-button:hover {
  background: #27ae60;
}
