body {
  overflow: hidden !important;
}

img {
  width: 100%;
}
a {
  color: #777 !important;
}
a:hover {
  color: #2ecc71 !important;
  text-decoration: none !important;
}
.hidden {
  display: none !important;
}
.no-padding {
  padding: 0 !important;
}
.vertical-align-top {
  vertical-align: top !important;
}
.inherit-font-size {
  font-size: inherit !important;
}

.landing {
  position: relative;
  background: url("./img/mountains.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: calc(100vh - 56px);
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.special-nav-link img {
  width: 25px;
  margin-right: 5px;
}

.welcome-box,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-box .welcome-container {
  background-color: white;
  padding: 80px 40px;
  min-width: 700px;
  padding: 80px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid #2ecc71;
}

.navbar {
  -webkit-box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 1;
}
.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: #27ae60 !important;
  margin: 0 !important;
  vertical-align: middle;
  text-transform: uppercase;
}

.gaunee-logo .container {
  max-width: 250px;
  text-align: center;
}

.login-logo {
  background-color: #ecf0f1 !important;
  border: 2px solid #e9edee !important;
  margin-top: 10px;
}

.signup-button {
  background-color: #2ecc71 !important;
  border: 2px solid #2ecc71 !important;
  color: white !important;
  margin-top: 10px;
  /* #2ecc71 */
}

hr {
  max-width: 70%;
}

.dashboard-wrapper {
  height: 100%;
  display: flex;
}

.content-container {
  width: calc(100vw - 300px);
}
.create-profile {
  overflow-y: scroll;
  padding: 20px;
  height: calc(100vh - 56px);
}

.flex {
  display: flex;
}

.sidebar-search-form {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px 5px;
  border: none;
  display: none;
}

.search-properties {
  display: block;
}

.dashboard-content {
  width: calc(100vw - 300px);
  height: calc(100vh - 111px);
  background: #f3f5f9;
  padding: 20px;
  overflow-y: scroll;
}
#home .dashboard-content {
  display: flex;
  flex-wrap: wrap;
}

.heading-row {
  height: 55px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 0 10px;
}
.heading-row h1,
.heading-row h1 a {
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #999;
}
.heading-row h1 a:hover {
  text-decoration: none;
  color: #2ecc71;
}
.heading-row h1 strong {
  color: #666;
  font-weight: 500 !important;
}

.bottom-row-container {
  height: 100%;
  display: flex;
}

.dashboard-content::-webkit-scrollbar,
.dashboard-content *::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.dashboard-content::-webkit-scrollbar-track,
.dashboard-content *::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
.dashboard-content::-webkit-scrollbar-thumb,
.dashboard-content *::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
.dashboard-content::-webkit-scrollbar-thumb:hover,
.dashboard-content *::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: all-scroll;
}
