body {
  overflow: hidden !important;
}

img {
  width: 100%;
}
a:hover {
  color: #2ecc71 !important;
  text-decoration: none !important;
}

.landing {
  position: relative;
  background: url("./img/mountains.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: calc(100vh - 56px);
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.special-nav-link img {
  width: 25px;
  margin-right: 5px;
}

.welcome-box,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-box .welcome-container {
  background-color: white;
  padding: 80px 40px;
  min-width: 700px;
  padding: 80px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 5px solid #2ecc71;
}

.navbar {
  -webkit-box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.15);
  background: white;
  z-index: 1;
}
.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: #27ae60 !important;
  margin: 0 !important;
  vertical-align: middle;
}

.gaunee-logo .container {
  max-width: 250px;
  text-align: center;
}

.login-logo {
  background-color: #ecf0f1 !important;
  border: 2px solid #e9edee !important;
  margin-top: 10px;
}

.signup-button {
  background-color: #2ecc71 !important;
  border: 2px solid #2ecc71 !important;
  color: white !important;
  margin-top: 10px;
  /* #2ecc71 */
}

hr {
  max-width: 70%;
}

.dashboard-wrapper {
  height: 100%;
  display: flex;
}

.content-container {
  width: calc(100vw - 300px);
}
.create-profile {
  overflow-y: scroll;
  height: calc(100vh - 56px);
}

.flex {
  display: flex;
}

.sidebar-search-form {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px 5px;
  border: none;
  display: none;
}

.search-properties {
  display: block;
}

.dashboard-content {
  width: calc(100vw - 300px);
  height: calc(100vh - 111px);
  background: #f3f5f9;
  padding: 20px;
}

.heading-row {
  height: 55px;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 0 10px;
}
.heading-row h1,
.heading-row h1 a {
  font-family: "Roboto";
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #999;
}
.heading-row h1 a:hover {
  text-decoration: none;
  color: #2ecc71;
}
.heading-row h1 strong {
  color: #666;
  font-weight: 500 !important;
}

.bottom-row-container {
  height: 100%;
  display: flex;
}

.dashboard-content .expenses {
  display: inline-block;
  background: white;
  margin-right: 10px;
  height: 50%;
  width: calc(50% - 10px);
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.dashboard-content .expenses p {
  text-align: left;
  font-size: 17px;

  line-height: 1;
  margin: 0;
  padding: 12.5px 20px;
  border-bottom: 1px solid #dedede;
}
.dashboard-content .expenses p a {
  color: #777;
}
.dashboard-content .expenses .expenses-chart {
  height: calc(100% - 42px);
  padding: 20px;
}
.expenses-chart tspan {
  font-size: 14px;
}
.dashboard-placeholder {
  height: 50%;
  width: 100%;
}
.quick-facts-container {
  display: inline-block;
  margin-left: 10px;
  height: 50%;
  width: calc(20% - 10px);
}
.quick-facts {
  display: inline-block;
  width: 100%;
  height: 25%;
  padding: 7px;
}
.quick-facts div {
  background: red;
  height: 100%;
}

.change-this-classname-later {
  width: calc(30% - 20px);
  background: white;
  margin: 0 10px;
  height: 50%;
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
