.repeater-inputs .unit-container {
  padding: 25px;
  background: #f4f4f4;
  margin: 20px 0;
}
.repeater-inputs .row {
  margin: 0 0 10px !important;
}
.remove-tenant {
  paddng: 0;
  padding: 0 !important;
  background: none;
  color: #e74c3c;
  text-style: italic;
  border: none;
  text-decoration: wavy;
  /* font-style: italic; */
  font-size: 14px;
}
.tenant-information > div {
  /* padding: 10px; */
  margin-bottom: 20px;
}
.add-property {
  overflow-y: scroll;
  padding: 20px;
  height: calc(100vh - 56px);
}
.add-property h1 {
  line-height: 1;
  margin-bottom: 0;
}
.add-property input[type="submit"] {
  padding: 10px;
}

.repeater-inputs .input-label {
  font-size: 15px;
  padding-left: 5px;
}

.repeater-inputs .form-group {
  margin-bottom: 0 !important;
}
.repeater-form-button {
  margin-right: 5px;
}

.repeater-inputs .col-sm-3 input {
  font-size: 15px;
}

.repeater-inputs .col-sm-4,
.repeater-inputs .col-sm-3 {
  padding: 0 2.5px !important;
}

.repeater-inputs .row .col-sm-3:first-of-type,
.repeater-inputs .row .col-sm-4:first-of-type,
.repeater-inputs .row .col-sm-6:first-of-type {
  padding: 0 2.5px 0 0 !important;
}

.repeater-inputs .row .col-sm-3:last-of-type,
.repeater-inputs .row .col-sm-4:last-of-type,
.repeater-inputs .row .col-sm-6:last-of-type {
  padding: 0 0 0 2.5px !important;
}

.repeater-inputs .button-container {
  text-align: right;
  padding: 10px 0;
}

.repeater-inputs .button-container button {
  margin: 0 2.5px;
}

.add-tenant-btn {
  background: #2ecc71 !important;
  color: white !important;
}

.add-tenant-btn:hover {
  background: #27ae60 !important;
}

.unit-container h4,
.unit-container h5 {
  margin-bottom: 15px;
  font-family: "Roboto Condensed", sans-serif;
}
.unit-container h4 span,
.unit-container h5 span {
  position: relative;
}
.unit-container h4 span:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 80%;
  background: #2ecc71;
}

.unit-container h5 span:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 90%;
  background: #2ecc71;
}
