.sidebar-container {
  max-width: 300px;
  display: flex;
  height: 100vh;
  z-index: 2;
}

.main-nav,
.secondary-nav {
  display: inline-block;
  position: relative;
}
/* ||||||||||| */
/* Primary Nav */
/* ||||||||||| */
.main-nav {
  width: 55px;
  background-color: #242424;
}

/* Profile */
.profile-nav-icon,
.main-nav-icon {
  width: 100%;
  height: 55px;
  color: #ccc;
  position: relative;
  cursor: pointer;
}
.profile-nav-icon {
  background: #434343;
  height: 32.5px;
  border-radius: 3px;
  width: 32.5px;
}

.profile-nav-icon i {
  font-size: 18px;
  line-height: 1;
  vertical-align: top;
  padding-top: 7px;
}
.profile-icon-container {
  height: 55px;
  position: relative;
  text-align: center;
}

.profile-nav-icon,
.main-nav-icon i {
  font-size: 22px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.collapse-properties,
.help-button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.help-button {
  background: #4f4f4f;
}

.collapse-properties {
  background: #434343;
}
/* Nav Items */
.main-nav .icon-active,
.main-nav .icon-active:hover {
  background: #149b4d;
  background: -moz-linear-gradient(45deg, #149b4d 0%, #2ecc71 100%);
  background: -webkit-linear-gradient(45deg, #149b4d 0%, #2ecc71 100%);
  background: linear-gradient(45deg, #149b4d 0%, #2ecc71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#149b4d', endColorstr='#2ecc71',GradientType=1 );
  color: white;
}
.main-nav-icon div {
  position: absolute;
  left: 115%;
  background: black;
  font-size: 13px;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 4px 5px;
  font-weight: 400;
  top: 50%;
  line-height: 1;
  white-space: nowrap;
  opacity: 0;
  letter-spacing: -0.5px;
}
.main-nav-icon:hover div {
  opacity: 1;
  z-index: 1;
}

.profile-icon-container:hover,
.profile-icon-container:hover .profile-nav-icon,
.main-nav-icon:hover {
  background: #434343;
  color: white;
}

.nav-item:hover {
  cursor: pointer;
}
/* ||||||||||||| */
/* Secondary Nav */
/* ||||||||||||| */
.secondary-nav {
  width: 245px;
  background-color: #4f4f4f;
}

.notifications-container {
  background-color: #434343;
  width: 100%;
  height: 50px;
  z-index: 1;
  position: relative;
}

.notifications-container > div {
  padding: 10px 15px;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}
.notifications-container .notif-icon-container {
  float: right;
  line-height: 1.25;
}

.notifications-container .notif-dropdown {
  position: absolute;
  display: none;
  top: 200%;
  left: -30px;
}
.notifications-container .notif-dropdown-open {
  display: block;
}
.notifications-container .notif-dropdown > div {
  width: 350px;
  background: white;
  position: relative;
  padding: 20px 20px 5px;
  min-height: 50vh;
  border-radius: 6px;
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.1);
}

.notifications-container .notif-dropdown > div:before {
  content: "\A";
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  transform: rotate(90deg);
  top: -29px;
  left: 35px;
}

.notifications-container i {
  margin: 0 5px;
}
.notifications-container i:hover {
  color: #706f6f;
}

.notifications-container span,
.notifications-container i {
  vertical-align: middle;
  color: white;
  font-size: 15px;
  line-height: 1;
}
.dropdown-notifs-list {
  height: calc(50vh - 55px);
}
.dropdown-message-center-link {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.notifiation-number {
  position: absolute;
  top: 2px;
  right: -16px;
  background: #f39c12;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
  padding: 3px 0;
  border-radius: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.has-notifs {
  display: block;
}

.side-bar-property-list {
  padding: 10px 15px;
}

.property-controls {
  color: white;
}

.property-controls .icons {
  float: right;
}

.property-controls span {
  font-size: 13px;
  color: #ccc;
}

.property-controls i {
  font-size: 14px;
  padding: 0 4px;
  color: #ccc;
}
.property-controls i:hover {
  color: #fff;
  cursor: pointer;
}

.property-icon {
  display: inline-block;
  position: relative;
}

.property-icon div {
  position: absolute;
  background: black;
  font-size: 11px;
  top: 125%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: auto;
  line-height: 1;
  border-radius: 3px;
  padding: 5px 5px;
  display: none;
}

.property-icon div span {
  font-size: 11px;
}
.property-icon:hover div {
  display: inline-block;
  white-space: nowrap;
}

.sidebar-properties-list p {
  color: #ccc;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 15px;
}

.property-container {
  padding: 5px 15px;
  background: #4b4b4b;
  border-top: 1px solid #464646;
  cursor: pointer;
}
.property-container:hover {
  background: #4f4f4f;
}
.sidebar-search-form {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px 5px;
  border: none;
  display: none;
}
.search-properties {
  display: block;
}
