.quick-facts-container {
  display: inline-block;
  margin-left: 10px;
  height: calc(50% - 10px);
  margin-top: 10px;
  width: calc(20% - 10px);
}
.quick-facts {
  display: flex;
  width: 100%;
  height: calc(25% - 15px);
  margin: 12px 0;
}

.quick-facts .icon-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-facts .icon-container i {
  font-size: 35px;
  color: white;
}

.quick-facts .text-container {
  display: flex;
  width: 75%;
  padding-left: 20px;
  align-content: center;
  vertical-align: center;
  flex-direction: column;
}
.quick-facts .text-container > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.quick-facts .text-container h3,
.quick-facts .text-container p {
  margin-bottom: 0;
  color: white;
  line-height: 1.1;
}

.quick-facts .text-container h3 {
  font-size: 30px;
}
.quick-facts .text-container p {
  font-size: 15px;
}

#units {
  background: #9b59b6;
}
#units .icon-container {
  background: #8e44ad;
}

#tenants {
  background: #2ecc71;
}
#tenants .icon-container {
  background: #27ae60;
}

#messages {
  background: #f1c40f;
}

#repairs {
  background: #3498db;
}

#messages .icon-container {
  background: #f39c12;
}

#repairs .icon-container {
  background: #2980b9;
}
